@import url('https://fonts.googleapis.com/css2?family=Lustria&family=Ysabeau+Infant:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
}

p{
    font-family: 'Lustria', serif;
}

body{
    background-color: #fffffe;
}

/* Nav Bar */
.nav-banner{
    display: flex;
    margin: 5px 50px;
    padding: 20px 50px;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    position: sticky;
}

.nav-logo{
    margin: 0 20px;
    font-weight: bold;
}

.fa-code{
    color: #FFA434;
}

.navigation a{
    color: #323954;
    text-decoration: none;
    font-weight: bold;
}

.nav-items{
    margin: 0 20px;
}

.nav-link{
   padding: 0 20px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    cursor: pointer;
    height: 70px;
    font-size: 1.3rem;
}

.nav-block{
    display: inline;
    background-color:#FFA434;
    color: #fffffe;
    padding: 10px;
    border-radius: 10px;
}

/* Intro */
#intro{
    margin: 100px 30px 0;
    padding: 50px 70px 10px;
    color: #272343;
    min-height: 80vh;
    display: flex;
    justify-content: space-around;
}

.wrapper{
    display: flex;
    font-size: 2.4rem;
    font-weight: bold;
}

.wrapper .static-text{
    line-height: 90px;
    height: 90px;
}

.wrapper .dynamic-text{
   margin-left: 15px;
   line-height: 90px;
   height: 90px;
   overflow: hidden;
}

.dynamic-text li{
    list-style: none;
    top: 0;
    position: relative;
    animation: slide 9s steps(3) infinite;
}
@keyframes slide{
    100%{
        top: -270px;
    }
}

.dynamic-text li{
    position: relative;
}

.dynamic-text li::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffffe;
    border-left: 2px solid #2d334a;
    animation: typing 3s steps(9) infinite;
}

@keyframes typing{
    30%,
    45% {
        left: calc(100% + 30px);
    }
    100% {
        left: 0;
    }
}

.intro-p {
    margin-top: 20px;
    color: #2d334a;
    font-size: 1.3rem;
    font-weight: 500;
}

/* Intro Button */
.btn-con{
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
}

.btn-con a{
    text-decoration: none;
}

.main-btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #FFA434;
    position: relative;
    font-weight: bold;
    overflow: hidden;
}

.btn-text{
    padding: 3cdpx 20px 10px 25px;
    color: #272343;
}

.btn-icon{
    color: #272343;
    background-color: #FFA434;
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.main-btn:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .4s ease-in-out;
    z-index: -1;
}
  
.main-btn:hover:before {
    width: 100%;
    height: 100%;
    background-color: #FFA434;
    transform: translateX(0);
}

/* Toolbox */
#toolbox{
    background-color: #89C5CC;
    padding: 100px;
}

.tb-intro{
    text-align: center;
}

.tb-heading{
    color: #272343;
    font-size: 3rem;
    line-height: 1.3;
    font-weight: 700;
}

.tb-words{
    color: #2d334a;
    font-size: 1.3rem;
    margin-top: 15px;
}

.tools{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-icon{
    height: 140px;
    padding: 40px;
    margin-bottom: 30px;
}

.fab{
    color: #fffffe;
    font-size: 6rem;
    margin-bottom: 10px;
}

.box-icon p{
    color: #272343;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

/* Projects */
#portfolio{
    padding: 40px 150px 40px 200px;
    background-color: F9F9F9;
}

.port-projects{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 50px;
    margin: 50px 0;
    border-radius: 10px;
}

.project-img{
    padding: 20px;
}

.p-img{
    width: 400px;
    height: 300px;
}

.project-desc{
    padding: 50px;
}

.project-desc h3{
    color: #272343;
    font-size: 2rem;
    font-weight: 700;
}

.project-desc p{
    color: #2d334a;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 30px 5px 10px;
    margin-bottom: 5px 0 10px;
}

.p-icons{
    margin-bottom: 5px;
}

.p-i{
    color: #272343;
    font-size: 2rem;
    padding: 5px;
    margin: 5px 0;
}

.p-btn{
    height: 50px;
    background-color: #FFA434;
    border: none;
    border-radius: 15px;
    margin: 0 15px 10px 0

}

.p-btn a{
    font-size: 1.1rem;
    color: #fffffe;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

/* CONTACT */
#contact{
   background-color: #89C5CC;
   padding: 50px 100px 70px;
}

.contact-content{
    display: flex;
    padding-top: 3rem;
}
  
.left-contact{
    flex: 2;
}

.left-contact h4{
  color: #272343;
  margin-top: 1rem;
  font-size: 2rem;
}

.left-contact p{
  color: #323954;
  margin: 1rem 0;
  line-height: 2rem;
}

.contact-item{
  color: #323954;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-item p{
  margin: .3rem 0 !important;
  padding: 0 !important;
}

.contact-item a{
    text-decoration: none;
    /* color: #323954; */
}

.contact-icon{
  display: flex;
  margin-top: 2rem;
}

.contact-icon a{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fffffe;
  background-color: var(--color-grey5);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 .4rem;
  transition: all .4s ease-in-out;
}

.contact-icon a:hover{
  background-color: #fffffe;
}

.contact-icon a:hover i{
  color: #272343;
}

.contact-icon a i{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.right-contact{
    flex: 3;
    margin-left: 3rem;
}

.input-control{
  margin: 1.5rem 0;
}

.input-control input, .input-control textarea{
    color: #272343;
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: .8rem 1.1rem;
  outline: none;
  border: none;
  background-color: #fffffe;
  width: 100%;
  resize: none;
}

.right-contact .i-c-2{
  display: flex;
}
  
.i-c-2 :last-child{
    margin-left: 1.5rem;
  }

button.btn-con{
    border: none;
    border-radius: 30px;
}

.btn-text h2{
    padding: 7px 10px 5px 15px;
}

#footer{
    padding: 50px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1218px) {
    .wrapper{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1058px) {
    .wrapper{
        font-size: 1.4rem;
    }

    .project{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .contact-content{
        display: flex;
        flex-direction: column;
    }

    .right-contact{
        margin: 1rem;
    }
}

@media screen and (max-width: 920px) {
    .intro-img{
        width: 90%;
    }
}